<section class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <img class="profile-image" src="profilePicture.webp" alt="">
    </div>

    <div class="mt-5">
        <p class="grey">//Return Programmer's Full Name</p>
        <em class="yellow">function </em>
        <span class="blue">getFullName</span>
        <span>()</span>
        <span class="">&#123; </span>
        <span class="fuschia">return </span>
        <span class="green pt-5">'Joshiva Yzair Ruiz Tapia'</span>
        <span>;</span>
        <span> &#125;</span>
        <br>
        <em class="purple mt-4">Software Engineer</em>
    </div>

    <div class="my-4">
        <a class="blue text-decoration-none me-2"
            href="https://www.linkedin.com/in/joshiva-yzair-ruiz-tapia-a07487232/">[LinkedIn]</a>
        <a class="grey text-decoration-none me-2" href="https://github.com/JoshivaYzair">[GitHub]</a>
        <a class="purple text-decoration-none" routerLinkActive="active" routerLink='/about'>[About]</a>
        <br>
        <a class="red text-decoration-none" routerLinkActive="active" routerLink="/experience">[Work]</a>
    </div>

    <div class="">
        <p class="grey">//Skills</p>
        <span class="orange hover me-2">Java</span>
        <span class="green hover me-2">SpringBoot</span>
        <span class="purple hover me-2">C#</span>
        <span class="purple hover me-2">.NET</span>
        <br>
        <span class="yellow hover me-2">JavaScript</span>
        <span class="blue hover me-2">TypeScript</span>
        <span class="orange hover">Git</span>
        <br>
        <span class="red hover me-2">Angular</span>
        <span class="purple hover me-2">Bootstrap</span>
        <span class="green hover me-2">MongoDB</span>
        <br>
        <span class="blue hover me-2">MySQL</span>
        <span class="blue hover me-2">PostgreSQL</span>
        <span class="yellow hover">Firebase</span>
    </div>
</section>