article {
  padding: var(--line);
  min-height: 100%;
}

.effect {
  width: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 0.6s steps(100);
}
@keyframes typing {
  from {
    width: 0;
  }
}
